.test {
  display: flex;
  flex-direction: column;

  &__item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
  }
}