.content {
  padding: 70px 0 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__texts {
    max-width: 550px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }

  &__descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 10px 0 30px;
  }

  &__link {
    display: inline-block;
    background-color: #0a3a73;
    color: #fff;
    padding: 15px 42px;
  }

  &__img {
    width: 350px;
  }
}

.annotation {
  padding: 100px 0 0;
  &__title {
    font-size: 32px;
  }

  &__descr {
    margin: 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
}

.avtor {
  padding: 50px 0 0;
  &__title {
    font-size: 32px;
  }

  .lists {
    li {
      list-style: inherit;
    }
  }

  .texts {
    display: flex;
    align-items: center;
    margin-top: 20px;

    &__menu {
    }
    &__title {
      margin-bottom: 20px;
      font-size: 20px;
      b {
        color: #3f3f3f;
      }
    }
    ol {
      margin-bottom: 30px;
      margin-left: 18px;
      li {
        font-size: 20px;
      }
    }
    &__descr {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
    }
    &__img {
      margin-left: 20px;
      width: 300px;
    }
  }
}
