.read {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 100px;

  .readRight {
    background-color: #fff;
    padding: 20px 40px;
    width: 1200px;
    margin-left: 20px;
    p {
      width: 100%;
      font-size: 18px;
      text-align: justify;
      text-indent: 1.5em;
      div {
        margin: 30px 0;
        text-align: center;

        h4 {
          margin-bottom: 20px;
        }
      }
      .ic {
        display: inline;
      }
    }
  }
  .readLeft {
    width: 500px;
  }

  &__title {
    border-bottom: 1px solid rgb(188, 207, 248);
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  &__item {
    cursor: pointer;
    li {
      cursor: pointer;
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid rgb(219, 226, 241);

      &:hover {
        background-color: #000000;
        color: #fff;
      }
    }
  }

  &__menu-title1 {
    background-color: #e8bd7c;
    padding: 11px 5px;
    border-bottom: 1px solid rgb(188, 207, 248);
    // width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
}
